# Ignore Storage Architecture
Terraform/Storage Architecture/

# Terraform sensitive files
**/*.tfvars
**/*.tfstate
**/*.tfstate.backup
**/.terraform/
**/.terraform.lock.hcl
crash.log
*.pem
*.key

# System files
.DS_Store
packages-microsoft-prod.deb
